@media (max-width:1100px){
    .plans-container{
        width: 95%;
    }
    .plan{
        margin: 0 5px;
    }
}
@media (max-width:900px){
    .main-banner p{
        padding: 0 6rem;
    }
    .searchdomain-container{
        padding: 2rem 4rem;
    }
}
@media (max-width:576px){
    html,body{
        overflow-x: hidden;
    }
    .navbar-itens li{
        font-size: 12px;
        margin-left: 15px;
    }
    .main-banner p{
        padding: 0 3rem;
    }
    .services-container ul{
        flex-direction: column;
    }
    .plans-container{
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }
    .plan{
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .searchdomain-container{
        width: 100%;
    }
    .searchdomain-container h2{
        font-size: 26px;
    }
    .searchdomain-container input[type="text"]{
        width: 100%;
        font-size: 16px;
    }
    .searchdomain-container input[type="submit"]{
        width: 100%;
        font-size: 16px;
    }
    .contact-container{
        padding: 3rem 2rem;
    }
    .contact-container input, .contact-container textarea{
        width: 100%;
        margin: 10px 0;
    }
}